<h1>Subscriptions</h1>

<script type="text/x-handlebars">
  {{ view Muser.ListSubscriptionsView }}
</script>

<script type="text/javascript">
  $(function() {
    Muser.subscriptionsController.loadAll(<%= @subscriptions.to_json.html_safe %>);
  });
</script>